// default colors
.theme-wrapper {
  --cardColor: #ccc;
  --cardBackground: rgb(255, 209, 209);
  --buttonColor: #fff;
  --buttonBackground: #fff;
  --navColor: #fff;
  --navBackground: #fff;
  --footerColor: #fff;
  --footerBackground: #fff;
  --footerAlignment: left;
}

// pass variables into a sass map
$variables: (
  --cardColor: var(--cardColor),
  --cardBackground: var(--cardBackground),
  --buttonColor: var(--buttonColor),
  --buttonBackground: var(--buttonBackground),
  --navColor: var(--navColor),
  --navBackground: var(--navBackground),
  --footerColor: var(--footerColor),
  --footerBackground: var(--footerBackground),
  --footerAlignment: var(--footerAlignment)
);
